/* ADD USER COMPONENT */

.Add-User {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateY(-100%);
  transition: transform ease 250ms;
  color: var(--clr-txt-primary);
}

.Add-User-active {
  transform: translateY(0);
}

.close-modal {
  position: fixed;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  right: 50px;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  background-color: var(--clr-primary);
}

.close-modal:hover {
  cursor: pointer;
  opacity: .8;
}

.Add-User form {
  width: 30%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-fg);
  padding: 1rem;
}

.form-entry-columns {
  display: flex;
  justify-content: space-between;
}

.form-entry-columns div:nth-child(2) {
  margin: 0 1rem;
}

.form-entry select {
  padding: .5rem;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-contrast);
  background-color: var(--clr-hover);
  padding: 1rem .5rem;
  font-weight: 700;
  color: var(--clr-txt-primary);
}

.form-message {
  color: white;
  font-size: .75rem;
  padding: .5rem;
  white-space: pre;
}

.primary-btn {
  color: white;
  margin-top: 1rem;
  padding: 1rem 0;
  font-size: 1.2rem;
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-primary);
}


/* EDIT USER COMPONENT */

.Edit-User {
  flex-grow: 1;
  padding: 1rem;
  background-color: var(--clr-fg);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

h4 {
  padding-bottom: .25rem;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.label {
  margin-bottom: .5rem;
  font-weight: 700;
  color: var(--clr-txt-secondary);
}

.control-inputs {
  display: flex;
  align-items: center;
}

.control-inputs button,
input,
select {
  padding: .25rem .5rem;
  font-size: 1rem;
  outline: none;
}

.control-inputs button {
  font-weight: 700;
  margin-left: .5rem;
  color: white;
  border: 2px solid var(--clr-primary);
  background-color: var(--clr-primary);
}

.control-inputs button:hover {
  cursor: pointer;
  opacity: .9;
}

.control-container {
  display: flex;
  margin: 0 2rem;
  padding: 0 2rem;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.control-container>div {
  margin: 0 .5rem;
}

.body {
  width: 100%;
  min-height: 300px;
  margin-top: 2rem;
}

.body h3 {
  margin-top: 5%;
  text-align: center;
  color: gray;
}

.actions {
  background: var(--clr-primary);
  color: white !important;
}

.edit-icons {
  display: flex;
  justify-content: space-evenly;
}

.edit-icons *:hover {
  cursor: pointer;
  /* opacity: .7; */
  color: var(--clr-primary);
}

.table-head {
  font-weight: 700 !important;
}

.add-user-container>button {
  width: 50px;
  height: 50px;
  color: white;
  background-color: var(--clr-primary);
  border: none;
  border-radius: 50%;
  margin: 0 auto;
  font-size: 2rem;
  padding: .25rem;
  outline: none;
}

.add-user-container button:hover {
  cursor: pointer;
  opacity: .8;
}

.progress {
  margin-top: 2rem;
  color: red;
}

.editable-row-input {
  text-align: center;
  font-size: .9em;
  max-width: 150px;
}

.active-editable-row {
  border: 4px solid var(--clr-primary);
}

.confirmation-message {
  background-color: var(--clr-fg);
  border-radius: 10px;
  padding: 2rem;
}

.confirmation-message p {
  display: flex;
  align-items: center;
  color: var(--clr-txt-secondary);
}

.btn-group {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.btn-group button {
  padding: .5rem 1rem;
  margin: 0 .6rem;
  cursor: pointer;
}

.BOX {
  width: 200px;
  height: 200px;
  background-color: var(--clr-primary);
}

@media (max-width: 1600px) {
  .Edit-User {
    font-size: .7rem;
  }
}

@media (max-width: 520px) {
  .form-entry-columns {
    flex-direction: column;
  }
  .form-entry-columns div:nth-child(2) {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  /* .controls {
    flex-direction: column;
  } */
  /* .controls div {
    margin-top: 1rem;
  } */
  .control-container {
    border: none;
  }
}